html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
}

#body {
  font-weight: 500;
  font-family: "Rajdhani";
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

section:not(:first-child) {
  padding: 60px 20px 40px;
}

h1 {
  margin-top: 0;
}

h3 {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #e31b6d;
  font-style: italic;
}

#home {
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    top: 100%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    top: 100%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes slideDown {
  0% {
    bottom: 100%;
  }
  50% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes slideDown {
  0% {
    bottom: 100%;
  }
  50% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideToLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
@-webkit-keyframes slideToLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
@keyframes slideToRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@-webkit-keyframes slideToRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@keyframes typeIn {
  from {
    width: 0;
    visibility: visible;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}
@-webkit-keyframes typeIn {
  from {
    width: 0;
    visibility: visible;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}
@keyframes blinker {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #6afde7;
  }
}
@-webkit-keyframes blinker {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #6afde7;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hider {
  height: 50px;
  overflow: auto;
}

.sticky-menu {
  width: 100%;
  height: 50px;
  background-color: rgba(31, 35, 43, 0.8);
  position: relative;
  top: 0;
  z-index: 98;
  -webkit-animation: 2s ease-out 0s 1 slideUp;
  animation: 2s ease-out 0s 1 slideUp;
}

.menu {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 15px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  position: absolute;
  z-index: 99;
}
.menu li {
  list-style: none;
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  color: #6afde7;
  margin: 10px 16px;
  padding: 0 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu li a:hover {
  text-shadow: 0px 0px 4px #6afde7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link {
  position: relative;
}
.link:before {
  content: "";
  width: 100%;
  height: 0.9px;
  position: absolute;
  background-color: #6afde7;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.space {
  height: 100%;
  width: 100%;
  background: #2c313d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  overflow: hidden;
}

#lines {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.drops {
  opacity: 0.9;
}

.drop {
  opacity: 0;
  -webkit-animation: 1s linear 2s fadeIn;
  animation: 1s linear 2s fadeIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  fill: #6afde7;
}
.drop:nth-child(odd) {
  fill: #e31b6d;
}

#svg-top-line {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
}

#top-line {
  stroke-width: 1.8px;
  stroke: #6afde7;
  -webkit-animation: 1s linear 0s 1 slideFromLeft, 1s linear 2s 1 slideToRight;
  animation: 1s linear 0s 1 slideFromLeft, 1s linear 2s 1 slideToRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#svg-bot-line {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

#bot-line {
  stroke-width: 5px;
  stroke: #e31b6d;
  -webkit-animation: 1s linear 0s 1 slideFromRight, 1s linear 2s 1 slideToLeft;
  animation: 1s linear 0s 1 slideFromRight, 1s linear 2s 1 slideToLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.claim {
  position: absolute;
  text-align: center;
  z-index: 90;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.claim h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #6afde7;
  font-weight: 400;
  overflow: hidden;
  border-right: 2px solid #6afde7;
  white-space: nowrap;
  visibility: hidden;
  -webkit-animation: typeIn 1.5s 3.5s steps(50), blinker 0.75s step-end infinite;
  animation: typeIn 1.5s 3.5s steps(50), blinker 0.75s step-end infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.claim .wrap {
  display: inline-block;
}
.claim .wrap h1 {
  margin: 0;
  border-right: 2px solid #6afde7;
  white-space: nowrap;
  -webkit-animation: typeIn 1.5s 2s steps(50), blinker 0.75s 2s step-end infinite;
  animation: typeIn 1.5s 2s steps(50), blinker 0.75s 2s step-end infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.claim .wrap h1 span {
  color: #e31b6d;
}
.claim a {
  font-size: 18px;
  color: #6afde7;
  padding: 6px 14px;
  border: 1.8px solid #6afde7;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  border-radius: 3px;
  -webkit-animation: 1s linear 5s fadeIn;
  animation: 1s linear 5s fadeIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.claim a:hover {
  color: #2c313d;
  text-shadow: 0 0 2px;
  background: #6afde7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.claim a .inScroll {
  color: #2c313d;
  text-shadow: 0 0 2px;
  background: #6afde7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.hider2 {
  width: 100%;
  height: 50px;
  position: absolute;
  overflow: auto;
  bottom: 0;
  z-index: 97;
}

.sticky-footer {
  height: 100%;
  background-color: rgba(31, 35, 43, 0.8);
  position: absolute;
  width: 100%;
  -webkit-animation: 2s ease-out 0s 1 slideDown;
  animation: 2s ease-out 0s 1 slideDown;
}

.footer {
  text-align: center;
  color: #6afde7;
}
.footer span {
  color: #e31b6d;
}

.fixer .sticky-menu {
  position: fixed;
  background-color: rgba(31, 35, 43, 0.8);
}

.fader .sticky-footer {
  -webkit-animation: 0.5s linear 0s 1 fadeOut;
  animation: 0.5s linear 0s 1 fadeOut;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#about {
  margin-top: -50px;
  background: #fbfbfb;
  text-align: center;
  color: #2c313d;
}
#about h1 {
  font-size: 40px;
  margin-top: 0;
}
#about p {
  font-size: 20px;
  line-height: 28px;
  padding: 20px 40px;
}

#skills {
  background: #fbfbfb;
  text-align: center !important;
  color: #2c313d;
}
#skills i {
  font-size: 36px;
}
#skills ul {
  text-align: left;
  margin-top: 2px;
}
#skills h4 {
  text-align: left;
  margin-bottom: 2px;
}
#skills h4 i {
  font-size: 20px;
  padding-left: 20px;
}
#skills .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 50px;
}
#skills .box .column {
  color: #6afde7;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  background: #2c313d;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 5px #333;
  box-shadow: 3px 3px 5px #333;
  padding: 20px 30px;
}
#skills .box .column:not(:last-child) {
  margin-right: 2%;
}

#projects {
  background: #2c313d;
}
#projects img {
  border-radius: 8px;
  border: solid 1px #6afde7;
}
#projects h2 {
  margin: 0;
}
#projects p {
  font-size: 14px;
}
#projects ul {
  padding-bottom: 20px;
}
#projects .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#projects .box .column {
  color: #6afde7;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: #2c313d;
  border-radius: 4px;
  padding: 50px 20px;
}
#projects .demo {
  padding: 8px 40px;
  background: #6afde7;
  border-radius: 2px;
  color: #2c313d;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#projects .demo:hover {
  background: #2c313d;
  color: #6afde7;
  outline: 1px solid #6afde7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#projects .demo_off {
  padding: 8px 40px;
  background: #2c313d;
  color: #6afde7;
  text-decoration: line-through;
  font-weight: 600;
  margin-right: 10px;
  pointer-events: none;
}
#projects .source {
  padding: 8px 20px;
  background: #e31b6d;
  border-radius: 100px;
  color: #2c313d;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#projects .source:hover {
  background: #2c313d;
  color: #e31b6d;
  outline: 2px solid #e31b6d;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#contact {
  padding-bottom: 60px;
  background: #fbfbfb;
}

#contact .box {
  padding-top: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}
#contact .box .phone {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: #6afde7;
  border-radius: 10px 10px 0 0;
  padding: 12px 32px;
}
#contact .box .phone a {
  text-decoration: none;
  color: #2c313d;
}
#contact .box .mail {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: #e31b6d;
  border-radius: 10px 10px 0 0;
  padding: 12px 32px;
}
#contact .box .mail a {
  text-decoration: none;
  color: #2c313d;
}
#contact .box .form {
  color: #6afde7;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: #2c313d;
  border-radius: 10px 10px 0 0;
  padding: 13px 32px;
  margin-bottom: -2px;
  -webkit-box-shadow: 3px 3px 8px #333;
  box-shadow: 3px 3px 8px #333;
}

.form-rows {
  background: #2c313d;
  max-width: 818.781px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 3px 3px 8px #333;
  box-shadow: 3px 3px 8px #333;
}
.form-rows .box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-rows #name,
.form-rows #email,
.form-rows #phone {
  padding: 0;
  border: none;
  background: #2c313d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #6afde7;
  border-bottom: 2px solid #6afde7;
  line-height: 20px;
}
.form-rows #name::-webkit-input-placeholder,
.form-rows #email::-webkit-input-placeholder,
.form-rows #phone::-webkit-input-placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #name:-ms-input-placeholder,
.form-rows #email:-ms-input-placeholder,
.form-rows #phone:-ms-input-placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #name::-ms-input-placeholder,
.form-rows #email::-ms-input-placeholder,
.form-rows #phone::-ms-input-placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #name::placeholder,
.form-rows #email::placeholder,
.form-rows #phone::placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #message {
  padding: 0;
  width: calc(100% - 40px);
  margin: 20px 20px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: #2c313d;
  color: #6afde7;
  border-bottom: 2px solid #6afde7;
  line-height: 20px;
  overflow: visible;
}
.form-rows #message::-webkit-input-placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #message:-ms-input-placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #message::-ms-input-placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #message::placeholder {
  color: #05fcd7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
  margin: 30px 20.13px 20px;
  padding: 5px 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
}
.form-rows .holder2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
}
.form-rows label {
  line-height: 24px;
  font-size: 24px;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #6afde7;
}
.form-rows textarea + label {
  line-height: 24px;
  font-size: 24px;
  -webkit-transform: translateX(20px) translateY(40px);
  transform: translateX(20px) translateY(40px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows input:focus + label,
.form-rows input[type=text]:valid + label,
.form-rows textarea:valid + label,
.form-rows input[type=phone]:valid + label {
  -webkit-transform: scale(0.6666) translateX(-60px);
  transform: scale(0.6666) translateX(-60px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows #message:focus + label {
  -webkit-transform: scale(0.6666) translateX(-174px) translateY(30px);
  transform: scale(0.6666) translateX(-174px) translateY(30px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-rows textarea:valid + label {
  -webkit-transform: scale(0.6666) translateX(-174px) translateY(30px);
  transform: scale(0.6666) translateX(-174px) translateY(30px);
}
.form-rows .button-holder {
  text-align: center;
  padding-bottom: 40px;
}
.form-rows .btn {
  padding: 8px 40px;
  background: #6afde7;
  border-radius: 2px;
  color: #2c313d;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-size: 24px;
}
.form-rows .btn:hover {
  background: #2c313d;
  color: #6afde7;
  border: 1px solid #6afde7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.social {
  text-align: center;
  color: #2c313d;
  margin-top: 60px;
  font-size: 42px;
}
.social i {
  color: #2c313d;
  margin: 10px 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social i:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social a:nth-of-type(1) i:hover {
  color: #3b5998;
}
.social a:nth-of-type(2) i:hover {
  color: #00aced;
}
.social a:nth-of-type(3) i:hover {
  color: #0077b5;
}
.social a:nth-of-type(4) i:hover {
  color: #333;
}

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  text-align: center;
  background: #e31b6d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  -webkit-transition: 0.3s opacity linear;
  transition: 0.3s opacity linear;
}
#toTop i {
  text-decoration: none;
  color: #2c313d;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
}
#toTop:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.real-footer {
  margin: 0;
  display: block;
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #2c313d;
  text-align: center;
  color: #6afde7;
}
.real-footer span {
  color: #e31b6d;
}

@media (max-width: 1024px) {
  #svg-top-line {
    width: 100vw;
  }

  #svg-bot-line {
    width: 100vw;
  }

  #bot-line {
    -webkit-animation: 1s linear -0.5s 1 slideFromRight, 1s linear 1.5s 1 slideToLeft;
    animation: 1s linear -0.5s 1 slideFromRight, 1s linear 1.5s 1 slideToLeft;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  #projects .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  #projects .box h2 {
    margin-top: -80px;
  }
  #projects .box ul {
    text-align: left;
  }
}
@media (max-width: 860px) {
  #svg-bot-line {
    display: none;
  }

  .sticky-footer {
    display: none;
  }

  #contact .box {
    display: block;
    font-weight: 600;
  }
  #contact .box .phone,
#contact .box .mail {
    display: inline-block;
    border-radius: 12px;
    margin: 0 20px 50px;
    -webkit-box-shadow: 3px 3px 8px #333;
    box-shadow: 3px 3px 8px #333;
  }
  #contact .box .form {
    background: #fbfbfb;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #2c313d;
  }
  #contact .box .form i {
    display: none;
  }
  #contact .form-rows {
    border-radius: 20px;
  }
}
@media (max-width: 800px) {
  #skills .box {
    display: inline-block;
  }
  #skills .box .column {
    margin: 30px 0;
    border-radius: 10px;
    width: 420px;
  }
  #skills .box .column ul {
    padding-left: 50%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  #skills .box .column h4 {
    padding-left: 30%;
  }

  #toTop {
    right: 10px;
    bottom: 10px;
  }
}
@media (max-width: 660px) {
  img {
    max-width: 100%;
    text-align: center;
    margin: 10px;
  }

  #toTop {
    width: 50px;
    height: 50px;
  }
  #toTop a {
    font-size: 22px;
  }
  #toTop i {
    font-size: 14px;
  }

  #contact .box-form {
    display: block;
  }
  #contact .box-form div:first-child {
    padding-top: 30px;
  }
  #contact .box-form div {
    width: 80%;
    margin: 20px auto;
  }
  #contact label {
    margin: 5px auto;
  }
  #contact .holder2 {
    margin: auto;
    width: 80%;
    padding-bottom: 40px;
  }
  #contact .holder2 textarea {
    width: 100%;
    margin: auto;
  }
  #contact .holder2 textarea + label {
    -webkit-transform: translateX(0px) translateY(20px);
    transform: translateX(0px) translateY(20px);
  }
  #contact input:focus + label,
#contact input[type=text]:valid + label,
#contact input[type=phone]:valid + label {
    -webkit-transform: scale(0.6666);
    transform: scale(0.6666);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  #contact #message:focus + label {
    -webkit-transform: scale(0.6666) translateX(0px) translateY(0px);
    transform: scale(0.6666) translateX(0px) translateY(0px);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .real-footer {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .menu {
    font-size: 15px;
  }

  .real-footer {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .menu {
    font-size: 12px;
    line-height: 12px;
    margin: 19px 0;
  }

  .claim h1 {
    font-size: 24px;
  }

  #skills .box .column {
    width: 360px;
  }
  #skills .box .column ul {
    padding-left: 50%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  #skills .box .column h4 {
    padding-left: 20%;
  }

  #toTop {
    bottom: 55px;
  }

  footer {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .menu {
    font-size: 12px;
    line-height: 12px;
    margin: 19px 0;
  }
  .menu li a {
    margin: 10px 10px;
  }

  #skills .box .column {
    width: 300px;
  }
  #skills .box .column h4 {
    padding-left: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
