@import "mixins_variables"; //Mixins and variables
@import "general";          //Regular workflow stuff
@import "animations";       //Keyframes

@import "parts/home";         //Menu, background, claim
@import "parts/about_skills"; //About text and skills
@import "parts/projects";     //Projects
@import "parts/contact";      //Contact form and footer

//Media queries

@media (max-width: $sz-big) {

  #svg-top-line {
    width: 100vw;
  }

  #svg-bot-line {
    width: 100vw;
  }
  
  #bot-line {
    -webkit-animation: 1s linear -0.5s 1 slideFromRight, 1s linear 1.5s 1 slideToLeft;
            animation: 1s linear -0.5s 1 slideFromRight, 1s linear 1.5s 1 slideToLeft;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
  }

  #projects{

    .box{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      text-align: center;
      h2{
        margin-top: -80px;
      }
      ul{
        text-align: left;
      }
    }
  }
}

@media(max-width: $sz-medium) {

  #svg-bot-line{
    display: none;
  }
  .sticky-footer{
    display: none;
  }

  #contact{
    .box{
      display: block;
      font-weight: 600;
      .phone,
      .mail{
        display: inline-block;
        border-radius: 12px;
        margin: 0 20px 50px;
        -webkit-box-shadow: 3px 3px 8px #333;
                box-shadow: 3px 3px 8px #333;
      }
      .form{
        background: $bg-color-alt;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: $bg-color-main;
        i{
          display: none;
        }
      }
    }

    .form-rows{
      border-radius: 20px;
    }
  }

}

@media(max-width: 800px) {

  #skills{
    .box{
      display: inline-block;
      .column{
        margin: 30px 0;
        border-radius: 10px;
        width: 420px;
        ul{
          padding-left: 50%;
          -webkit-transform: translateX(-10%);
                  transform: translateX(-10%)
        }
        h4{
          padding-left: 30%;
        }
      }
    }
  }

  #toTop{
    right: 10px;
    bottom: 10px
  }
}

@media(max-width: $sz-small) {
  img{
    max-width: 100%;
    text-align: center;
    margin: 10px;
  }

  #contact{

    .box-form{
      display: block;
      div:first-child{
        padding-top: 30px;
      }
      div{
        width: 80%;
        margin: 20px auto;
      }
    }
    
    label{
      margin: 5px auto;
    }
    
    
    .holder2{
      margin: auto;
      width: 80%;
      padding-bottom: 40px;
        textarea{
        width: 100%;
        margin: auto;
        }
        textarea + label{
          -webkit-transform: translateX(0px) translateY(20px);
                  transform: translateX(0px) translateY(20px);
        }
    }

     input:focus + label,
      input[type=text]:valid + label,
      input[type=phone]:valid + label {
      -webkit-transform: scale(0.6666); 
              transform: scale(0.6666); 
      -webkit-transition: $transition-lin;
              transition: $transition-lin;
    }
    
    #message:focus + label {
      -webkit-transform: scale(0.6666) translateX(0px) translateY(0px);
              transform: scale(0.6666) translateX(0px) translateY(0px);
      -webkit-transition: $transition-lin;
      transition: $transition-lin;
    }
  
  }

}

@media(max-width: $sz-mini) {
  
  .menu{
    font-size: 15px;
  }


}


@media(max-width: 480px) {

  .menu{
    font-size: 12px;
    line-height: 12px;
    margin: 19px 0;
  }

  .claim{
    h1{
      font-size: 24px;
    }
  }

  #skills{
    .box{
      .column{
        width: 360px;
        h4{
          padding-left: 20%;
        }
      }
    }
  }

  #toTop{
    bottom: 30px
  }

  footer{
    font-size: 14px;
  }
}

@media(max-width: 410px) {

  .menu{
    font-size: 12px;
    line-height: 12px;
    margin: 19px 0;
    li{
      a{
      margin: 10px 10px;
      }
    }
  }

  #skills{
    .box{
      .column{
        width: 300px;
        h4{
          padding-left: 20%;
        }
      }
    }
  }

}