//ABOUT

#about {
  margin-top: -50px;

  background: $bg-color-alt;
  text-align: center;
  color: $bg-color-main;
  h1 {
    font-size: 40px;
    margin-top: 0;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    padding: 20px 40px;
  }
}

//SKILS
#skills {
  background: $bg-color-alt;
  text-align: center !important;
  color: $bg-color-main;

  i {
    font-size: 36px;
  }

  ul {
    text-align: left;
    margin-top: 2px;
  }

  h4 {
    text-align: left;
    margin-bottom: 2px;

    i {
      font-size: 20px;
      padding-left: 20px;
    }
  }

  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 50px;

    .column {
      color: $text-color-main;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
      background: $bg-color-main;
      border-radius: 4px;
      -webkit-box-shadow: 3px 3px 5px #333;
      box-shadow: 3px 3px 5px #333;
      padding: 20px 30px;
    }
    .column:not(:last-child) {
      margin-right: 2%;
    }
  }
}
