//MENU

.hider {
  height: 50px;
  overflow: auto;
}

.sticky-menu {
  width: 100%;
  height: 50px;
  background-color: rgba(darken($bg-color-main, 6%), 0.8);
  position: relative;
  top: 0;
  z-index: 98;
  -webkit-animation: 2s ease-out 0s 1 slideUp;
  animation: 2s ease-out 0s 1 slideUp;
}

.menu {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 15px 0;

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  position: absolute;
  z-index: 99;
  li {
    list-style: none;
    display: inline-block;
    a {
      text-decoration: none;
      color: $text-color-main;
      margin: 10px 16px;
      padding: 0 2px;
      -webkit-transition: $transition-lin;
      transition: $transition-lin;
      &:hover {
        text-shadow: 0px 0px 4px $text-color-main;
        -webkit-transition: $transition-lin;
        transition: $transition-lin;
      }
    }
  }
}

.link {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 0.9px;
    position: absolute;
    background-color: $text-color-main;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $transition-eio;
    transition: $transition-eio;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

//MENU BACKGROUND

.space {
  height: 100%;
  width: 100%;
  background: $bg-color-main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  overflow: hidden;
}

#lines {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.drops {
  opacity: 0.9;
}

.drop {
  opacity: 0;
  -webkit-animation: 1s linear 2s fadeIn;
  animation: 1s linear 2s fadeIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  fill: $text-color-main;
  &:nth-child(odd) {
    fill: $text-color-alt;
  }
}

//MENU LINES

#svg-top-line {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
}

#top-line {
  stroke-width: 1.8px;
  stroke: $text-color-main;
  -webkit-animation: 1s linear 0s 1 slideFromLeft, 1s linear 2s 1 slideToRight;
  animation: 1s linear 0s 1 slideFromLeft, 1s linear 2s 1 slideToRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#svg-bot-line {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

#bot-line {
  stroke-width: 5px;
  stroke: $text-color-alt;
  -webkit-animation: 1s linear 0s 1 slideFromRight, 1s linear 2s 1 slideToLeft;
  animation: 1s linear 0s 1 slideFromRight, 1s linear 2s 1 slideToLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

//CLAIM

.claim {
  position: absolute;
  text-align: center;
  z-index: 90;
  @include centered();
  padding-bottom: 10px;
  letter-spacing: 1px;

  h1 {
    margin-top: 0;
    margin-bottom: 30px;
    color: $text-color-main;
    font-weight: 400;
    overflow: hidden;
    border-right: 2px solid $text-color-main;
    white-space: nowrap;
    visibility: hidden;
    -webkit-animation: typeIn 1.5s 3.5s steps(50),
      blinker 0.75s step-end infinite;
    animation: typeIn 1.5s 3.5s steps(50), blinker 0.75s step-end infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .wrap {
    display: inline-block;

    h1 {
      margin: 0;
      border-right: 2px solid $text-color-main;
      white-space: nowrap;
      -webkit-animation: typeIn 1.5s 2s steps(50),
        blinker 0.75s 2s step-end infinite;
      animation: typeIn 1.5s 2s steps(50), blinker 0.75s 2s step-end infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      span {
        color: $text-color-alt;
      }
    }
  }

  a {
    font-size: 18px;
    color: $text-color-main;
    padding: 6px 14px;
    border: 1.8px solid $text-color-main;
    text-decoration: none;
    -webkit-transition: $transition-lin;
    transition: $transition-lin;
    opacity: 0;
    border-radius: 3px;
    -webkit-animation: 1s linear 5s fadeIn;
    animation: 1s linear 5s fadeIn;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    &:hover {
      color: $bg-color-main;
      text-shadow: 0 0 2px;
      background: $text-color-main;
      -webkit-transition: $transition-lin;
      transition: $transition-lin;
    }
    .inScroll {
      color: $bg-color-main;
      text-shadow: 0 0 2px;
      background: $text-color-main;
      -webkit-transition: $transition-lin;
      transition: $transition-lin;
    }
  }
}

//FOOTER

.hider2 {
  width: 100%;
  height: 50px;
  position: absolute;
  overflow: auto;
  bottom: 0;
  z-index: 97;
}

.sticky-footer {
  height: 100%;
  background-color: rgba(darken($bg-color-main, 6%), 0.8);
  position: absolute;
  width: 100%;
  -webkit-animation: 2s ease-out 0s 1 slideDown;
  animation: 2s ease-out 0s 1 slideDown;
}

.footer {
  text-align: center;
  color: $text-color-main;
  span {
    color: $text-color-alt;
  }
}

.fixer .sticky-menu {
  position: fixed;
  background-color: rgba(darken($bg-color-main, 6%), 0.8);
}

.fader .sticky-footer {
  -webkit-animation: 0.5s linear 0s 1 fadeOut;
  animation: 0.5s linear 0s 1 fadeOut;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
